<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a movie</title>
</head>
<body>
    <h1>Add a movie</h1>
    <form action="/addmovie" method="POST">
        <label for="title">title</label><br />
        <input type="text" name="title" id="title" placeholder="title"><br /> 
        
        <label for="rating">Rating:</label><br />
        <input type="text" name="rating" id="rating" placeholder="rating">
        
        <label for="synopsis">Synopsis</label><br />
        <textarea name="synopsis" id="synopsis" cols="50" rows="20"></textarea><br />

        <label for="release">Release year</label> <br />
        <input type="text" name="release" id="release" placeholder="release"><br />

        <label for="genre">Genre</label><br />
        <input type="text" name="genre" id="genre" placeholder="genre"><br />

        <label for="director">Director</label><br />
        <input type="text" name="director" id="director" placeholder="director"><br />

        <label for="box">Box office </label><br />
        <input type="text" name="box" id="box" placeholder="box">
        <button type="submit">Add movie</button>
    </form>
</body>
</html>